<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Entity Framework configuration -->
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<connectionStrings>
		<!-- Entity Framework connection string -->
		<add name="QLThucPhamEntities"
			 connectionString="metadata=res://*/Model.ThucPhamModel.csdl|
                           res://*/Model.ThucPhamModel.ssdl|
                           res://*/Model.ThucPhamModel.msl;
                           provider=System.Data.SqlClient;
                           provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;
                           AttachDbFilename=C:\Users\LENOVO\Source\Repos\DoAn\DoAn\QLHangHoa.mdf;
                           Integrated Security=True;
                           MultipleActiveResultSets=True&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<startup>
		<!-- Runtime .NET Framework -->
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
