<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings><add name="QLThucPhamEntities" connectionString="metadata=res://*/Model.ThucPhamModel.csdl|res://*/Model.ThucPhamModel.ssdl|res://*/Model.ThucPhamModel.msl;provider=System.Data.SqlClient;
                          provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\CS464\DoAn\QLThucPham.mdf;
                          Integrated Security=True&quot;
                          " providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>